.container{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon
{
    opacity: 0.6;
    cursor: pointer;
    transition: opacity .3s ease-in;

}
.icon:hover{
    opacity: 1;
    /* box-shadow: 0px 0px 50px var(--color-primary) inset,
                0px 0px 50px var(--color-primary);
                border-radius: 50% ; */
}
/* 
.instagram:hover{
    box-shadow: 0px 0px 7px #ff0095 inset,
                0px 0px 7px #ff0095
}

.twitter:hover{
    box-shadow: 0px 0px 7px #1c9ff1 inset,
                0px 0px 7px #1c9ff1
}

.facebook:hover{
    box-shadow: 0px 0px 7px #0679e6 inset,
                0px 0px 7px #0679e6
}

.youtube:hover{
    box-shadow: 0px 0px 7px #ff0000 inset,
                0px 0px 7px #ff0000
} */
