.table{ display: table;
    direction: rtl;
    margin: 40px;
    width: 900px;
    border: #f3f3f3 solid;
    border-radius: 12px;
   
    
}

.table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.table th{
    border:  hsl(180, 8%, 95%) solid; 
}
.table td{
    border:  #009879 solid;
}
.table th, .table td{
    padding: 20px;
}

.table tbody tr{
background-color: #f3f3f3;
color: black;
border-bottom: 1px solid #009879;

}
.table tbody tr:last-of-type{
border-bottom: 2px solid #009879;

}
.table tbody tr:active-row{
    font-weight: bold;
    color: #009879;
}


.title{
    direction: rtl;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}
.logo{
    position:relative;
    direction: rtl;
    width: 150px;
    height: 90px;
    left: 850px;
    margin: 15px;
    text-align: center;
}
.button{
    border-radius: var(--size-border-radius);
    padding: 10px 30px  ;
    margin: 20px;
    width: 250px;
    height:40px ;
    cursor: pointer;
    background-color: #009879;
    border: none;
    width: max-content;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  
  }
  .button:hover{
    border-radius: 20%;
    color: #030303;
    opacity: 0.6;
    filter: drop-shadow(0 0 10px var(--clr))
    drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 6px var(--clr));
    box-shadow: 0 0 20px 5px #009879;
    border: #fff solid 1px;
  }